nav.navbar
    ul.nav-list.section.group
        li.nav-item.nav-item-logo.nav-item-active.col.span_1_of_7
            a(href='/').
                LineOnline
        li.nav-item.col.span_1_of_7
            a(href='/home').
                Home
        li.nav-item.col.span_1_of_7
            a(href='/').
                Gallery
        li.nav-item.col.span_1_of_7
            a(href='/').
                Your Tracks
        li.nav-item.col.span_1_of_7
        li.nav-item.col.span_1_of_7
        li.nav-item.nav-item-profile.col.span_1_of_7
            a(href='/')
                span.hidden.
                    Profile
