nav.navbar
    ul.nav-list
        li.nav-item.nav-item-logo.nav-item-active
            a(href='/').
                LineOnline
        li.nav-item
            a(href='/home').
                Home
        li.nav-item
            a(href='/').
                Gallery
        li.nav-item
            a(href='/').
                Your Tracks
        li.nav-item.nav-item-profile
            a(href='/')
                span.hidden.
                    Profile
