extend layout
block content
    section.panel.editor(id='editor-panel')
        section.side-panel.side-panel-conversation.minimized
            span.conversation-icon.oi(id='open-convo', data-glyph='chevron-left', title='chevron-left', aria-hidden='true')
            //- span.conversation-icon.hidden.oi(id='close-convo', data-glyph='chevron-right', title='chevron-right', aria-hidden='true')
            h2.
                Conversation
            article.messages
                .message
                    .message-image
                    .message-body
                        p.
                            Hello this is a sample message
                .message
                    .message-image
                    .message-body
                        p.
                            Blkahs sdajfklsad sdjafk jds Hello this is a sample message
                .message
                    .message-image
                    .message-body
                        p.
                            Hello this is a sample message
                .message
                    .message-image
                    .message-body
                        p.
                            Lalalal alsdf idd ajfklsdf aksljfkdsl. jfdsk hello sample message talking about stuff collaboration yeah!!
            form.form-message(method='get', action='/send-message')
                input(name='message-text', type='text', placeholder='Type message...')
                button.btn-submit(type='submit').
                    Send
