extend layout
block content
    section.panel.masthead
    section.panel.editor
    section.panel.panel-padded.gallery.section.group
        .tile.col.span_1_of_3
        .tile.col.span_1_of_3
        .tile.col.span_1_of_3

    //- p.
    //-     stuffffff
    //- p.
    //-     BMOASJDKASLdjkslfjdska
    //-     skfdjaflkdsjafkldsjafkldsajflsa
