extend layout
block content
    section.panel.masthead
    section.panel.editor
    section.panel.gallery
    //- p.
    //-     stuffffff
    //- p.
    //-     BMOASJDKASLdjkslfjdska
    //-     skfdjaflkdsjafkldsjafkldsajflsa
