extend layout
block content
    p
        | stuffffff
    p
        | BMOASJDKASLdjkslfjdska
        | skfdjaflkdsjafkldsjafkldsajflsa

block sidebar
    .widget
        h1 widget
        p
            | OMGg
            | ok
        p
            | fine
