doctype
html
    head
        title #{title}
        link(rel='stylesheet', href='/stylesheets/css/style.css')
    body
        //- header
            h1 LineOnline
        include ./includes/navbar.jade
        .container
            .main-content
                block content
        footer
            p WHOAAAaaaaa

        script(type='text/javascript', src='/js/build/bundle.js')
