doctype
html
    head
        title #{title}
        link(rel='stylesheet', href='/stylesheets/css/style.css')
    body
        header
            h1 LineOnline
        .container
            .main-content
                block content
            .sidebar
                block sidebar
        footer
            p WHOAAAaaaaa

        script(type='text/javascript', src='/js/build/bundle.js')
