extend layout
block content
    section.panel.playback
        span.preview-icon.oi(data-glyph='fullscreen-exit', title='fullscreen-exit', aria-hidden='true')
        .media-icons
            span.media-icon.oi(data-glyph='media-skip-backward', title='media-skip-backward', aria-hidden='true')
            span.media-icon.oi(data-glyph='media-play', title='media-play', aria-hidden='true')
            span.media-icon.oi(data-glyph='media-pause', title='media-pause', aria-hidden='true')
            span.media-icon.oi(data-glyph='media-skip-forward', title='media-skip-forward', aria-hidden='true')
