extend layout
block content
    section.panel.profile
        .panel-padded
            .section.group.row
                .col.span_1_of_4
                    section.profile-sidebar
                        .picture
                        .info
                            .detail.contact
                                h3.
                                    Bob Blob
                                p
                                    span.profile-icon.oi(data-glyph='map-marker', title='map-marker', aria-hidden='true')
                                    span.profile-title.
                                        Pittsburgh, PA
                                p
                                    span.profile-icon.oi(data-glyph='envelope-closed', title='envelope-closed', aria-hidden='true')
                                    span.profile-title.
                                        bobblob@gmail.com
                            .detail.about
                                h3.
                                    About
                                p.
                                    Hello my name is blah blah and blah listen to me okay more stuff my name is blah blah and blah listen to me okay more stuff.
                .col.span_3_of_4
                    section.profile-main
                        article.track-featured
                            aside.info
                                h3.
                                    Track Title
                                p.
                                    Blabh asblkasf and some description of this track blahhhh. More stuff and other things describe this describing that.
                                h3.
                                    Owner
                                p.
                                    Bob Blob
                                h3.
                                    Collaborators
                                ul
                                    li.
                                        Snigdha Roy
                                    li.
                                        David Lu
                                    li.
                                        Jing Xiao

                        article.track-collection
                            .section.group.row
                                .col.span_1_of_3
                                    article.tile.tile-first
                                        .preview
                                        .info
                                            h3.
                                                Track/Collection Title
                                            p.
                                                Description of track something something blah blah hello world. More description and blah balh blahdsf stuff. Okay just typing random crap now blah goodbye world.
                                .col.span_1_of_3
                                    article.tile
                                        .preview
                                        .info
                                            h3.
                                                Track/Collection Title
                                            p.
                                                Bleep bloop blkajsdf dlaksfj oiaysdf cool line rider is cool omgosh I love line rider. No I don't. Just kidding. Hello. Whatevererrerer hello again.
                                .col.span_1_of_3
                                    article.tile.tile-last
                                        .preview
                                        .info
                                            h3.
                                                Track/Collection Title
                                            p.
                                                Rawr. This is a description. Okay now.



