extend layout
block content
    section.panel.profile
        .panel-padded
            .section.group.row
                .col.span_1_of_4
                    section.profile-sidebar
                        .picture
                        .info
                            .detail.contact
                                h3.
                                    #{username}
                                p
                                    span.profile-icon.oi(data-glyph='map-marker', title='map-marker', aria-hidden='true')
                                    span.profile-title.
                                        #{location}
                                p
                                    span.profile-icon.oi(data-glyph='envelope-closed', title='envelope-closed', aria-hidden='true')
                                    span.profile-title.
                                        bobblob@gmail.com
                            .detail.about
                                h3.
                                    About
                                p.
                                    #{description}
                            .detail.interact
                                p
                                    a(href='/subscribe')
                                        span.profile-icon.oi(data-glyph='plus', title='plus', aria-hidden='true')
                                        span.profile-title
                                            | <span class='subscribe-link'>Subscribe</span> to <span class='bold'>Bob Blob</span>
                .col.span_3_of_4
                    section.profile-main
                        article.track-featured
                            span.preview-icon.oi(data-glyph='fullscreen-enter', title='fullscreen-enter', aria-hidden='true')
                            .media-icons
                                span.media-icon.oi(data-glyph='media-skip-backward', title='media-skip-backward', aria-hidden='true')
                                span.media-icon.oi(data-glyph='media-play', title='media-play', aria-hidden='true')
                                span.media-icon.oi(data-glyph='media-pause', title='media-pause', aria-hidden='true')
                                span.media-icon.oi(data-glyph='media-skip-forward', title='media-skip-forward', aria-hidden='true')
                            aside.info
                                h3.
                                    Track Title
                                p.
                                    Blabh asblkasf and some description of this track blahhhh. More stuff and other things describe this describing that.
                                h3.
                                    Owner
                                p.
                                    Bob Blob
                                h3.
                                    Collaborators
                                ul
                                    li.
                                        Snigdha Roy
                                    li.
                                        David Lu
                                    li.
                                        Jing Xiao

                        article.track-collection
                            .section.group.row
                                .col.span_1_of_3
                                    article.tile.tile-first
                                        .preview
                                            span.preview-icon.oi(data-glyph='fullscreen-enter', title='fullscreen-enter', aria-hidden='true')
                                        .info
                                            h3.
                                                Track/Collection Title
                                            p.
                                                Description of track something something blah blah hello world. More description and blah balh blahdsf stuff. Okay just typing random crap now blah goodbye world.
                                .col.span_1_of_3
                                    article.tile
                                        .preview
                                            span.preview-icon.oi(data-glyph='fullscreen-enter', title='fullscreen-enter', aria-hidden='true')
                                        .info
                                            h3.
                                                Track/Collection Title
                                            p.
                                                Bleep bloop blkajsdf dlaksfj oiaysdf cool line rider is cool omgosh I love line rider. No I don't. Just kidding. Hello. Whatevererrerer hello again.
                                .col.span_1_of_3
                                    article.tile.tile-last
                                        .preview
                                            span.preview-icon.oi(data-glyph='fullscreen-enter', title='fullscreen-enter', aria-hidden='true')
                                        .info
                                            h3.
                                                Track/Collection Title
                                            p.
                                                Rawr. This is a description. Okay now.



