extend layout
block content
    section.panel.settings
        .panel-padded
            .section.group.row.profile-form
                .col.span_2_of_12
                .col.span_8_of_12
                    h2.
                        Profile Settings
                    form.form-settings.form-settings-profile(method='post', action='/edit-profile')
                        .section.group.row
                            .field.col.span_6_of_12
                                label(for='firstname').
                                    First Name:
                                input(name='firstname', type='text', placeholder='Bob')
                            .field.col.span_6_of_12
                                label(for='lastname').
                                    Last Name:
                                input(name='lastname', type='text', placeholder='Blob')
                        .section.group.row
                            .field.col.span_12_of_12
                                label(for='location').
                                    Location:
                                input(name='location', type='text', placeholder='Pittsburgh, PA')
                        .section.group.row
                            .field.col.span_12_of_12
                                label(for='about').
                                    About:
                                textarea(name='about', placeholder='Type something about yourself...')
                        button.btn.btn-submit(value='submit').
                            Save Profile
                .col.span_2_of_12
            .section.group.row.account-form
                .col.span_2_of_12
                .col.span_8_of_12
                    h2.
                        Account Settings
                    form.form-settings.form-settings-account(method='post', action='/edit-account')
                        .section.group.row
                            .field.col.span_12_of_12
                                h2.
                                    Change email
                                label(for='newEmail').
                                    New Email:
                                input(name='newEmail', type='email', placeholder='bobblob@gmail.com')
                        .section.group.row
                            .field.col.span_12_of_12
                                h2.
                                    Change password
                                label(for='currentPassword').
                                    Current Password:
                                input(name='currentPassword', type='password', placeholder='••••••••••••')
                        .section.group.row
                            .field.col.span_12_of_12
                                label(for='newPassword').
                                    New Password:
                                input(name='newPassword', type='password', placeholder='••••••••••••')
                        button.btn.btn-submit(value='submit').
                            Save Account
                .col.span_2_of_12
