extend layout
block content
    section.panel.favorites
        .panel-padded
            .section.group.row
                .col.span_1_of_3
                    article.tile.tile-first
                        .preview
                            span.preview-icon.oi(data-glyph='fullscreen-enter', title='fullscreen-enter', aria-hidden='true')
                        .info
                            h3.
                                Track Title
                            p.
                                Description of track something something blah blah hello world. More description and blah balh blahdsf stuff. Okay just typing random crap now blah goodbye world.
                .col.span_1_of_3
                    article.tile
                        .preview
                            span.preview-icon.oi(data-glyph='fullscreen-enter', title='fullscreen-enter', aria-hidden='true')
                        .info
                            h3.
                                Track Title
                            p.
                                Bleep bloop blkajsdf dlaksfj oiaysdf cool line rider is cool omgosh I love line rider. No I don't. Just kidding. Hello. Whatevererrerer hello again.
                .col.span_1_of_3
                    article.tile.tile-last
                        .preview
                            span.preview-icon.oi(data-glyph='fullscreen-enter', title='fullscreen-enter', aria-hidden='true')
                        .info
                            h3.
                                Track Title
                            p.
                                Rawr. This is a description. Okay now.
            .section.group.row
                .col.span_1_of_3
                    article.tile.tile-first
                        .preview
                            span.preview-icon.oi(data-glyph='fullscreen-enter', title='fullscreen-enter', aria-hidden='true')
                        .info
                            h3.
                                Track Title
                            p.
                                Description of track something something blah blah hello world. More description and blah balh blahdsf stuff. Okay just typing random crap now blah goodbye world.
                .col.span_1_of_3
                    article.tile
                        .preview
                            span.preview-icon.oi(data-glyph='fullscreen-enter', title='fullscreen-enter', aria-hidden='true')
                        .info
                            h3.
                                Track Title
                            p.
                                Bleep bloop blkajsdf dlaksfj oiaysdf cool line rider is cool omgosh I love line rider. No I don't. Just kidding. Hello. Whatevererrerer hello again.
                .col.span_1_of_3
                    article.tile.tile-last
                        .preview
                            span.preview-icon.oi(data-glyph='fullscreen-enter', title='fullscreen-enter', aria-hidden='true')
                        .info
                            h3.
                                Track Title
                            p.
                                Rawr. This is a description. Okay now.
            .section.group.row.row-last
                .col.span_1_of_3
                    article.tile.tile-first
                        .preview
                            span.preview-icon.oi(data-glyph='fullscreen-enter', title='fullscreen-enter', aria-hidden='true')
                        .info
                            h3.
                                Track Title
                            p.
                                Description of track something something blah blah hello world. More description and blah balh blahdsf stuff. Okay just typing random crap now blah goodbye world.
                .col.span_1_of_3
                    article.tile
                        .preview
                            span.preview-icon.oi(data-glyph='fullscreen-enter', title='fullscreen-enter', aria-hidden='true')
                        .info
                            h3.
                                Track Title
                            p.
                                Bleep bloop blkajsdf dlaksfj oiaysdf cool line rider is cool omgosh I love line rider. No I don't. Just kidding. Hello. Whatevererrerer hello again.
                .col.span_1_of_3
                    article.tile.tile-last
                        .preview
                            span.preview-icon.oi(data-glyph='fullscreen-enter', title='fullscreen-enter', aria-hidden='true')
                        .info
                            h3.
                                Track Title
                            p.
                                Rawr. This is a description. Okay now.
            a(href='/favorites')
                button.btn.btn-see-more.
                    SEE MORE
