.container {
    width: 100%;
    height: 100%;
    padding: 0;
    // overflow-x: hidden;
}

.main-content {
    padding-top: $navbar-height;
    height: 100%;
}

.message-panel {

    &.message-panel-center {
        text-align: center;
    }

    &.message-panel-bubbles {
        padding-top: 10px;
    }

    &.message-panel-tracks {
        padding-top: 15px;
        padding-bottom: 40px;
        text-align: left;
    }
}

.save-modal {
    @include box-shadow($border-col 0 0 50px 2px);
    border: 1px solid $border-col;
    max-width: 700px;
    width: 90%;
    background: #fff;
    margin: 0 auto;
    height: 450px;
    z-index: 5;

    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;

    top: 20px;


    font-size: 13px;

    // position: relative;

    .btn-submit {
        @include transition(color 0.2s ease-in-out 0);
        // width: 100%;
        border: 1px solid $border-col;
        display: block;
        text-align: center;
        background: #fff;
        margin: 30px auto 0;
        width: 100%;

        text-transform: uppercase;
        font-weight: bold;
        height: 36px;

        &:hover {
            cursor: pointer;
            color: $light-col;
        }

        &.btn-save-modal {
            position: absolute;
            bottom: 0;
            left: 0;
            border: none;
            border-top: 1px solid $border-col;
            height: 50px;
            font-size: 16px;
        }

    }
}

.form-editor {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    height: 100%;

    padding: 15px 30px;



    .note {
        color: $light-col;
        font-weight: normal;
        font-style: italic;
        font-size: 10px;
        margin-left: 5px;
    }

    .field {
        //padding: 0 15px;
        margin-bottom: 20px;
        &:first-child {
            margin-top: 15px;
        }
        // &:last-child {
        //     padding-bottom: 35px;
        // }
        // display: block;
        &.field-last {
            margin-bottom: 20px;
        }
    }

    .collab-preview {
        // background: green;
        overflow: auto;
        // min-height: 60px;
        height: 110px;
        position: relative;
        margin: 0 auto;
        // background: red;
        .user-img {
            border-radius: 100%;
            display: inline-block;
            width: 40px;
            height: 40px;
            left: 12px;
            top: 12px;
            margin: 5px 8px;
            overflow: hidden;
            img {
                height: auto;
                max-width: 100%;
                text-align: center;
                display: block;
                margin: 0 auto;
            }

            &:hover {
                opacity: 0.5;

            }
        }

    }

    .collab-preview-collaborators {

    }

    .collab-preview-invitees {
        .user-img {
            opacity: 0.4;
        }
    }

    label,
    h3 {
        display: block;
        padding-bottom: 7px;
        font-weight: bold;
    }

    input, textarea {
        border: 1px solid $border-col;
        width: 100%;
        padding: 7px 7px;
        height: 36px;
    }

    textarea {
        height: 100px;
    }

    &.form-editor-track {
        border-right: 1px solid $border-col;
    }

    &.form-editor-collab {
        // &.form-disabled {
        //     opacity: 0.5;
        //     cursor: not-allowed;

        //     .btn-submit, input {
        //         cursor: not-allowed;
        //     }
        // }

        input, .btn-submit {
            display: inline-block;
        }

        .btn-submit {
            margin-left: 10px;
            width: 90px;
            margin-top: 15px;
            margin-bottom: 0;
        }

        input {
            width: calc(100% - 100px);
            min-width: 150px;
        }
    }

    // .btn-submit {
    //     @include transition(color 0.2s ease-in-out 0);
    //     // width: 100%;
    //     border: 1px solid $border-col;
    //     display: block;
    //     text-align: center;
    //     background: #fff;
    //     margin: 30px auto;
    //     width: 125px;

    //     text-transform: uppercase;
    //     font-weight: bold;
    //     height: 36px;

    //     &:hover {
    //         cursor: pointer;
    //         color: $light-col;
    //     }
    // }
}

.toolbar {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
    opacity: 0.9;
    // background: red;
    // left: 0;
    // top: 0;
    .toolbar-icon {
        font-size: 10px;
    }

    .toolbar-title {
        padding-left: 12px;
        font-size: 13px;
    }
}

.btn-toolbar {
    @extend %uppercase-header;
    @include transition(color 0.2s ease-in-out 0);
    // font-size: 13px;
    border: 1px solid $border-col;
    background: #fff;
    margin: 0 5px;//0 5px;
    display: inline-block;
    padding: 3px 10px 8px;
    width: 120px;
    &:hover {
        cursor: pointer;
        color: $light-col;
    }
    // padding: 10px;
}

// .display, .display-wrapper, .display-svg {
//     @include box-sizing(border-box);
// }

.display {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    // bottom: 0;
    left: 0;
    // right: 0;
}

.display-svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.not-found {
    p {
        font-size: 66px;
        font-weight: bold;
        margin: 50px auto;
        text-align: center;
    }
}

.login-link,
.subscribe-link,
.unsubscribe-link,
.tile-tool-link {
    @include transition(color 0.2s ease-in-out 0);
    color: $light-col;
    &:hover {
        cursor: pointer;
        color: $linerider-red;
    }

    &.favorited {
        color: $linerider-red;
        &:hover {
            cursor: pointer;
            color: $light-col;
        }
    }
}

.error-message {
    color: $linerider-red;
}

.dropdown {
    @include transition(all 0.2s ease-in-out 0);
    opacity: 1;
    z-index: 1;
    border: 1px solid $border-col;
    position: absolute;
    font-size: 13px;
    line-height: 1.5;
    background: #fff;
    visibility: visible;

    .footnote {
        text-align: center;
        font-size: 10px;
        font-style: italic;
        padding: 10px;
        border-top: 1px solid $border-col;
    }

    &.hidden {
        opacity: 0;
        visibility: hidden;
    }
}



.dropdown-settings {
    right: -35px;
    width: 200px;
    top: calc(100% + 13px);



    .dropdown-link {
        @include transition(color 0.2s ease-in-out 0);
        &:hover {
            cursor: pointer;
            color: $light-col !important;
        }

        .dropdown-item {
            padding: 5px 15px;
        }

        &:first-child {
            .dropdown-item {
                padding-bottom: 13px;
            }
        }

        &:nth-child(2) {
            .dropdown-item {
                padding-top: 13px;
            }
        }
        &:last-child {
            .dropdown-item {
                padding-bottom: 15px;
            }
        }
    }

    .dropdown-profile {
        // padding-bottom: 20px;
        padding-bottom: 13px;
        .name {
            font-weight: bold;
            font-size: 16px;
            line-height: 2;
        }

        .description {

        }
        border-bottom: 1px solid $border-col;
        // margin-bottom: 8px;
    }

    .dropdown-icon {
        font-size: 10px;
    }

    .dropdown-title {
        padding-left: 10px;
    }
}

.dropdown-signup-login {
    right: -35px;
    width: 220px;
    top: calc(100% + 23px);
}

#form-login,
#form-signup {
    &.hidden {
        display: none;
    }
}

.form-signup-login {

    // background: blue;

    // text-align: center;
    .field {
        padding: 0 15px;
        margin-bottom: 10px;
        &:first-child {
            margin-top: 15px;
        }
        // &:last-child {
        //     padding-bottom: 35px;
        // }
        // display: block;
        &.field-last {
            margin-bottom: 20px;
        }
    }

    label {
        display: block;
        padding-bottom: 3px;
        font-weight: bold;
    }

    input {
        border: 1px solid $border-col;
        width: 100%;
        padding: 4px 6px;
    }

    .btn-submit {
        @include transition(color 0.2s ease-in-out 0);
        // width: 100%;
        border: none;
        border-top: 1px solid $border-col;
        display: block;
        width: 100%;
        text-align: center;
        // height: 10px;
        background: #fff;

        // display: block;
        // margin: 5px auto 15px;
        // background: #fff;
        text-transform: uppercase;
        font-weight: bold;
        padding: 10px;
        // width: 100px;
        &:hover {
            cursor: pointer;
            color: $light-col;
        }
    }
}


.navbar {
    .navlink {
        @include transition(color 0.2s ease-in-out 0);
        &:hover {
            cursor: pointer;
            color: $light-col;
        }
    }

    .navlink-icon {
        font-size: 16px;
    }

    .navlink-title {
        padding-left: 12px;
        font-size: 16px;
    }

    // background-color: red;
    z-index: 2;
    background: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid $border-col;
    height: $navbar-height;
    font-size: 20px;
    letter-spacing: 1px;
    // text-transform: uppercase;

    .nav-list {
        @extend %padded-width-content;
        // background-color: blue;
        height: 100%;
    }

    .nav-item {
        position: relative;
        // text-align: center;
        // @include transition(opacity 0.2s ease-in-out 0);
        // background-color: yellow;

        // float: left;
        // margin: 22px 60px 0 0;
        margin-top: 22px;

        &.nav-item-active {
            font-weight: bold;
        }
        &.nav-item-logo {
            margin-right: $logo-margin-offset;
        }
        &.nav-item-profile {
            margin-left: -$logo-margin-offset;
            // text-align: right;

            // margin: 15px 0 0;
            .navlink {
                @include transition(opacity 0.2s ease-in-out 0);
                // @include box-shadow($border-col 0 0 0 1.5px);
                // border: 1px solid #fff;
                float: right;
                position: relative;
                margin-top: -6px;
                border-radius: 100%;
                // background: url('../../images/sample_profile.png') no-repeat center center;
                // background-size: cover;
                display: block;
                width: 40px;
                height: 40px;
                overflow: hidden;

                img {
                    max-width: 100%;
                    height: auto;
                }

                &:hover {
                    opacity: 0.7;
                }

            }

        }
        &.nav-item-signup-login {
            margin-left: -$logo-margin-offset;
        }
    }
}

.settings {
    h2 {
        @extend %uppercase-header;
        margin-bottom: 15px;
    }

    h3 {
        @extend %uppercase-header;
        margin-bottom: 15px;
    }

    .btn-submit {
        margin: 10px auto 15px;
    }
}

.profile-form, .email-form {
    margin-bottom: 30px;
}

.form-settings {
    border: 1px solid $border-col;
    padding: 30px 40px;
    // background: blue;
    font-size: 13px;
    .field {
        margin-bottom: 20px;
    }

    input, textarea {
        width: 100%;
        padding: 10px 10px;
        margin-top: 10px;
        border: 1px solid $border-col;
    }

    textarea {
        height: 100px;
    }

    label {
        // padding-bottom: 15px;
        font-size: 16px;
        font-weight: bold;
    }
}

.panel {
    width: 100%;
    min-height: 100%;
    display: block;
    border-bottom: 1px solid $border-col;
    &:last-child {
        // border-bottom: none;
    }
    // &.footerbar {
    //     min-height: $footer-height;
    // }
    // position: relative;
    overflow-x: hidden;
}

.track-extra {
    display: block;
    // background: yellow;
    margin-top: 20px;
    margin-bottom: 10px;
    // margin-bottom: 40px; //may change

    .extra-icon {
        font-size: 13px;
    }

    .extra-title {
        padding-left: 12px;
        font-size: 16px;
    }

    .btn-extra {
        @extend %uppercase-header;
        @include transition(color 0.2s ease-in-out 0);
        border: 1px solid $border-col;
        background: #fff;
        display: block;
        padding: 12px 15px 13px;
        width: 175px;
        max-width: 100%;
        margin: 0 auto;
        &:hover {
            cursor: pointer;
            color: $light-col;
        }
        // padding: 10px;
    }
}

.panel-flexible {
    width: 100%;
    display: block;
    border-bottom: 1px solid $border-col;
    // padding-top: 20px;

    .flexible-icon {
        font-size: 16px;
    }

    .flexible-title {
        @extend %uppercase-header;
        padding-left: 20px;
    }

    .section-title {
        margin-top: 10px;
        margin-bottom: 20px;
    }


    h2 {
        @extend %uppercase-header;
        margin-bottom: 20px;
    }

    &.panel-last {
        border-bottom: none;
    }

    .panel-padded {
        padding-bottom: 10px;
    }
}

.side-panel {
}

.side-panel-conversation {
    @include transition(all 0.4s ease-in-out 0);
    @include transform(translateX(0px));
    &.minimized {
        @include transform(translateX(300px));
    }

    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    border-left: 1px solid $border-col;
    height: 100%;

    font-size: 13px;
    background: #fff;
    opacity: 0.9;

    .conversation-icon {
        @include transition(color 0.2s ease-in-out 0);
        @include vertical-align(calc(50% - 5px));
        position: absolute;
        font-size: 24px;
        color: $light-col;
        left: -38px;
        &:hover {
            cursor: pointer;
            color: $linerider-red;
        }
    }

    // overflow-y: hidden;


    .messages {
        padding-top: 50px;
        // position: absolute;
        // right: 0;
        overflow-y: scroll;
        // margin-right: -0px;
        // padding-right: -50px;
        // margin-left: 0;
        // padding-left: 0;
        // border-top: 1px solid $border-col;
        // overflow: scroll;
        height: 100%;
        width: 100%;
        // background: green;

        .message {
            border-bottom: 1px solid $border-col;
            // height: 100%;
            // background: aqua;
            position: relative;
            &:last-child {
                // border-bottom: none;
                margin-bottom: 44px;
            }
        }

        .message-image {
            position: absolute;
            display: block;
            background: url('../../images/sample_profile.png') no-repeat center center;
            background-size: cover;
            width: 25px;
            height: 25px;
            border-radius: 100%;
            left: 12px;
            top: 12px;
        }

        .message-body {
            border-left: 1px solid $border-col;
            margin-left: 50px;
            p {
                padding: 17px 15px;
            }
        }
    }

    .form-message {
        bottom: 0;
        left: 0;
        position: absolute;
        // position: fixed;
        // background: yellow;
        // z-index: 1;
        border-top: 1px solid $border-col;
        height: 45px;
        width: 100%;
        input {
            // background: green;
            border: none;
            // border-top: 1px solid $border-col;
            border-right: 1px solid $border-col;
            padding: 5px 10px;
            height: 100%;
            width: calc(100% - 80px);
            // background: red;
        }

        .btn-submit {
            @include transition(color 0.2s ease-in-out 0);
            font-weight: bold;
            border: none;
            // background: yellow;
            height: 100%;
            border: none;
            width: 80px;
            &:hover {
                cursor: pointer;
                color: $light-col;
            }
        }
    }

    h2 {
        // position: fixed;
        background: #fff;
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 15px;
        font-size: 16px;
        font-weight: bold;
        border-bottom: 1px solid $border-col;
        display: block;
        height: 50px;
    }
}

.panel-padded {
    @extend %padded-width-content;
    padding: 35px 0 55px;
}

.scroll-divider {
    width: 100%;
    display: block;
    opacity: 0.8;
    height: $scroll-divider-height;
    margin-top: -$scroll-divider-height;
    position: relative;
    text-align: center;
    // border-top: 1px solid $border-col;
    font-size: 24px;
    // color: $scroll-icon-col;
    .scroll-link {
        @include transition(color 0.2s ease-in-out 0);
        color: $scroll-icon-col;
        &:hover {
            cursor: pointer;
            color: $linerider-red;
        }
    }
    .scroll-icon {
        @include vertical-align(30%);
    }
}

.masthead {
    background: #fff url('../../images/sample_masthead.png') no-repeat center center;
    background-size: cover;
}

.playback {
    position: relative;
    .media-icons {
        z-index: 5;
        font-size: 20px;
        position: absolute;
        left: 25px;
        bottom: 20px;
        .media-icon {
            @include transition(color 0.2s ease-in-out 0);
            padding-right: 25px;
            &:hover {
                cursor: pointer;
                color: $light-col;
            }
        }
    }

    .preview-icon {
        @include transition(color 0.2s ease-in-out 0);
        right: 25px;
        top: 20px;
        position: absolute;
        font-size: 20px;
        z-index: 5;
        &:hover {
            cursor: pointer;
            color: $light-col;
        }
    }
}

.editor {
    position: relative;
    border-bottom: none;
    // background: #fff url('../../images/sample_editor.png') no-repeat top center;
    // background-size: 100% auto;//contain;
}

#editor-panel {
    position: relative;
    background: #fff url('../../images/sample_editor.png') no-repeat top center;
    background-size: 100% auto;//contain;
}

.form-search-gallery {
    font-size: 16px;
    .search-bar {
        position: relative;
    }
    .search-icon {
        position: absolute;
        left: 15px;
        top: 15px;
    }
    .input-search {
        width: 100%;
        padding: 12px;
        padding-left: 45px;
    }
    .btn-search {
        @include transition(color 0.2s ease-in-out 0);
        font-weight: bold;
        text-transform: uppercase;
        width: 100%;
        padding: 12px;
        &:hover {
            cursor: pointer;
            color: $light-col;
        }
    }
    margin-bottom: 10px;
}
.picture {
    // border: 2px solid $border-col;
    // outline: 1px solid $border-col;
    // background: url('../../images/sample_profile.png') no-repeat center center;
    // background-size: cover;
    display: block;
    height: 175px;
    width: 175px;
    // min-width: 100%;
    margin: 20px auto 20px;
    border-radius: 100%;
    overflow: hidden;

    img {
        height: auto;
        max-width: 100%;
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    &.picture-subscription {
        @include transition(opacity 0.2s ease-in-out 0);
        position: relative;
        &:hover {
            @include transition(opacity 0.2s ease-in-out 0);
            opacity: 0.7;
            // cursor: pointer;
            .unsubscribe-icon {
                // visibility: visible;
                opacity: 1;
            }
            // &:after {
            //     opacity: 1;
            // }
        }

        // &:after {
        //     @include transition(opacity 0.2s ease-in-out 0);
        //     font-family: 'Icons';
        //     content: '\e09d';
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     color: $linerider-red;
        //     font-size: 24px;
        //     text-align: center;
        //     width: 100%;
        //     display: block;
        //     height: 100%;
        //     line-height: 8;
        //     opacity: 0;
        // }
    }

}

.profile {
    .panel-padded {
        padding-bottom: 10px;
    }
}

.profile, .subscriptions {
    .profile-section {


    }
    .profile-sidebar {
        @extend %col;
        border: 1px solid $border-col;
        // padding-top: 20px;
        // .picture {
        //     border: 2px solid $border-col;
        //     // outline: 1px solid $border-col;
        //     background: #fff url('../../images/sample_profile.png') no-repeat center center;
        //     background-size: cover;
        //     height: 175px;
        //     width: 175px;
        //     // min-width: 100%;
        //     margin: 20px auto 20px;
        //     border-radius: 100%;
        // }

        .profile-icon {
            font-size: 10px;
        }
        .profile-title {
            padding-left: 12px;
        }

        .info, .actions {
            border-top: 1px solid $border-col;
            padding-bottom: 10px;
            .detail {
                padding: 0 20px;
                margin-bottom: 10px;
                &:first-child {
                    padding-top: 10px;
                }

                h3 {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 2.5;
                }

                p {
                    font-size: 13px;
                    line-height: 1.4;
                }
            }

            .contact, .interact {
                p {
                    margin-bottom: 5px;
                }
            }

            .interact {
                border-top: 1px solid $border-col;
                padding-top: 20px;
            }

            .about {
                padding-bottom: 10px;
            }
        }

    }
    .profile-main {
        @extend %col-last;


        .profile-featured-track {
            height: 350px;
            margin-bottom: 20px;
            background: #fff url('../../images/sample_masthead.png') no-repeat center center;
            background-size: cover;
            border: 1px solid $border-col;
            position: relative;

            .media-icons {
                font-size: 16px;
                position: absolute;
                left: 15px;
                bottom: 10px;
                .media-icon {
                    @include transition(color 0.2s ease-in-out 0);
                    padding-right: 15px;
                    &:hover {
                        cursor: pointer;
                        color: $light-col;
                    }
                }
            }

            .preview-icon {
                @include transition(color 0.2s ease-in-out 0);
                right: 200px + 12px;
                top: 12px;
                position: absolute;
                &:hover {
                    cursor: pointer;
                    color: $light-col;
                }
            }

            .info {
                opacity: 0.8;
                position: absolute;
                right: 0;
                top: 0;
                background: #fff;
                border-left: 1px solid $border-col;
                height: 100%;
                padding: 20px 20px;
                width: 200px;

                a {
                    @include transition(color 0.2s ease-in-out 0);
                    color: $linerider-red;
                    &:hover {
                        color: $light-col;
                    }
                }

                h3 {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 1.5;
                    // line-height: 2.5;
                }

                p {
                    margin-bottom: 20px;
                }

                ul, p {
                    font-size: 13px;
                    line-height: 1.4;
                    font-style: italic;
                    padding-top: 5px;
                    li {
                        margin-bottom: 3px;
                        &:before {
                            content: '•';
                            padding-right: 7px;
                        }

                    }
                }


            }
        }

        .profile-collections {
            // margin-top: 25px;
            margin-top: 30px;

           .track-collection {
                // border: 1px solid $border-col;
                // margin-bottom: 0;
                // padding: 30px 30px 10px;

                margin-bottom: 0; //30px

                &:first-child {
                    border-bottom: none;
                }
                .collection-title {
                    // color: $linerider-red;
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                }
               .tile {
                   .preview {
                       height: 175px;
                   }
                   padding-bottom: 5px;
               }
           }
        }
    }
}

.col-first {
    @extend %col-first;
}

.col-mid {
    @extend %col;
}

.col-last {
    @extend %col-last;
}

.tile-first {
    @extend %col-first;
}

.tile-tools {
    // margin-top: -5px;
    position: absolute;
    right: 10px;
    bottom: 8px;
    display: block;//inline-block;
    // padding-left: 20px;
    // background: blue;
    .tile-tool-link {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 15px;
        }
    }
    .tile-tool-icon {
        // color: $linerider-red;
        font-size: 13px;
    }
}

.x-icon {
    @include transition(color 0.2s ease-in-out 0);
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 20px;
    // opacity: 0.2;
    color: $light-col;
    &:hover {
        color: #000;//$light-col;
        cursor: pointer;
    }

    &.x-icon-dark {
        color: #000;
        &:hover {
            color: $light-col;
        }
    }
}

.tile {
    @extend %col;
    // margin-right: 10%;
    // background-color: red;
    .preview {
        display: block;
        height: 200px;
        border: 1px solid $border-col;

        //sample image
        // background: #fff url('../../images/sample_masthead.png') no-repeat center center;
        // background-size: cover;
        position: relative;

        .preview-icon {
            @include transition(color 0.2s ease-in-out 0);
            position: absolute;
            right: 12px;
            top: 12px;
            font-size: 13px;
            &:hover {
                color: $light-col;
                cursor: pointer;
            }
        }


    }

    .info {
        margin: 10px 0 15px;

        .info-track-title {
            @include transition(color 0.2s ease-in-out 0);
            font-weight: bold;
            font-size: 16px;
            line-height: 2;
            &:hover {
                color: $light-col;
                cursor: pointer;
            }
        }

        .info-track-description {
            font-style: italic;
            font-size: 13px;
            line-height: 1.8;
        }
    }
}

.tile-last, {
    @extend %col-last;
}

.subscriptions {
    // .user-image {
    //     background: #fff url('../../images/sample_profile.png') no-repeat center center;
    //     background-size: cover;
    //     display: block;
    //     width: 200px;
    //     height: 200px;
    // }
    // .subscription-user {
    //     position: relative;
    // }

    .unsubscribe-icon {
        @include transition(all 0.2s ease-in-out 0);
        //@include transition(color 0.2s ease-in-out 0);
        // padding-top: 10px;
        // font-size: 13px;
        // text-align: center;
        font-size: 20px;
        top: 50%;
        left: 50%;
        margin-left: -10px;
        margin-top: -10px;
        // visibility: hidden;
        opacity: 0;
        &:hover {
            // @include transition(color 0.2s ease-in-out 0);
            color: $light-col;
            cursor: pointer;
        }
        position: absolute;
    }

    .subscription-icon {
        position: absolute;
        left: -12px;
        top: 3px;
    }

    .subscription-title {
        position: relative;
        padding-left: 12px;
    }

    .subscription-username {
        @include transition(color 0.2s ease-in-out 0);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        &:hover {
            color: $light-col;
        }
    }
}

.gallery-row {
    margin-bottom: 30px;
}

.gallery,
.favorites,
.subscriptions,
.your-tracks {
    // padding: 35px 0 55px;
    .gallery-col {
        margin-bottom: 25px;
    }

    .gallery-row {
        margin-bottom: 30px;
    }

    // .row-last {
    //     margin-bottom: 25px;
    // }
    // background: yellow
    // .header {
    //     margin-bottom: 10px;
    // }
    .header-col {
        @extend %uppercase-header;
        text-align: center;
        //margin-bottom: 15px;
    }

    .header-icon {
        font-size: 16px;
    }

    .header-title {
        padding-left: 12px;
    }


}

.btn {
    @extend %uppercase-header;
    @include transition(color 0.2s ease-in-out 0);
    border: 1px solid $border-col;
    background: #fff;
    display: block;
    padding: 15px 20px;
    width: 250px;
    &:hover {
        cursor: pointer;
        color: $light-col;
    }
}

.btn-see-more {
    margin: 0 auto;
}

.footerbar {
    // height: $footer-height;
    // max-height: $footer-height;
    // min-height: $footer-height;
    padding: 35px 0;
    display: block;
    text-align: center;
    width: 100%;
    background: #fff;
    font-size: 13px;
    // background: $linerider-red;
    bottom: 0;
    min-height: 0;//$footer-height; //make sure this is later in the cascade
}
