.container {
    width: 100%;
    height: 100%;
    padding: 0;
}

.main-content {
    padding-top: $navbar-height;
    height: 100%;
}

.navbar {
    // background-color: red;
    z-index: 1;
    background: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid $border-col;
    height: $navbar-height;
    font-size: 20px;
    letter-spacing: 1px;
    // text-transform: uppercase;

    .nav-list {
        @extend %padded-width-content;
        // background-color: blue;
        height: 100%;
    }

    .nav-item {
        // text-align: center;
        // @include transition(opacity 0.2s ease-in-out 0);
        // background-color: yellow;

        // float: left;
        // margin: 22px 60px 0 0;
        margin-top: 22px;

        &.nav-item-active {
            font-weight: bold;
        }
        &.nav-item-logo {
            margin-right: 80px;
        }
        &.nav-item-profile {
            // text-align: right;
            float: right;
            // margin: 15px 0 0;
            margin-top: 15px;

            border-radius: 100%;
            background: #fff url('../../images/sample_profile.png') no-repeat center center;
            background-size: cover;
            display: block;
            width: 40px;
            height: 40px;

            &:hover {
                border: none;
            }
        }
        &:hover {
            // border-bottom: 1px dotted #000;
        }
    }
}

.panel {
    width: 100%;
    min-height: 100%;
    display: block;
    border-bottom: 1px solid $border-col;
    &:last-child {
        border-bottom: none;
    }
    &.footerbar {
        min-height: $footer-height;
    }
}

.panel-padded {
    @extend %padded-width-content;
    padding: 50px 0 50px;
}

.scroll-divider {
    width: 100%;
    display: block;
    opacity: 0.8;
    height: $scroll-divider-height;
    top: -$scroll-divider-height;
    position: relative;
    text-align: center;
    // border-top: 1px solid $border-col;
    font-size: 24px;
    // color: $scroll-icon-col;

    .scroll-icon {
        @include transition(opacity 0.2s ease-in-out 0);
        @include vertical-align(30%);
        &:hover {
            cursor: pointer;
            opacity: 0.5;
        }
    }
}

.masthead {
    background: #fff url('../../images/sample_masthead.png') no-repeat center center;
    background-size: cover;
}

.editor {
    background: #fff url('../../images/sample_editor.png') no-repeat top center;
    background-size: 100% auto;//contain;
}

.gallery {
    // background: yellow
    .headers {
        margin-bottom: 10px;
    }
    .header-col {
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 20px;
    }

    .tile {
        @extend %col;
        // margin-right: 10%;
        // background-color: red;
    }

    .tile-last {
        @extend %col-last;
    }

    .preview {
        display: block;
        height: 200px;
        border: 1px solid $border-col;

        //sample image
        background: #fff url('../../images/sample_masthead.png') no-repeat center center;
        background-size: cover;
    }

    .info {
        margin: 10px 0 15px;

        h3 {
            font-weight: bold;
            font-size: 16px;
            line-height: 2;
        }

        p {
            font-style: italic;
            font-size: 13px;
            line-height: 1.8;
        }
    }
}

.footerbar {
    // height: $footer-height;
    // max-height: $footer-height;
    // min-height: $footer-height;
    display: block;
    width: 100%;
    background: $linerider-red;
    bottom: 0;
}
