%padded-width-content {
    width: $content-width;
    max-width: $content-max-width;
    margin: 0 auto;
}

%col {
    margin-right: 5%;

    @media only screen and (max-width: 480px) {
        margin-right: 0;
    }
}

%col-last {
    margin-right: 0;
}

%uppercase-header {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
}
