$linerider-red: #D62525;
$selection-col: $linerider-red;
$content-width: 1108px !important; //hack
$content-max-width: 95%;
$navbar-height: 70px;
$border-col: #eee;
$light-col: #ccc;
$scroll-icon-col: #ccc;
$footer-height: 150px;
$scroll-divider-height: 70px;
$logo-margin-offset: 40px;
