$selection-col: #ff0;
$content-width: 1108px !important; //hack
$content-max-width: 95%;
$navbar-height: 70px;
$border-col: #eee;
$scroll-icon-col: #ccc;
$linerider-red: #D62525;
$footer-height: 150px;
$scroll-divider-height: 70px;
